/*
.view-emp-profile-card {
  width: 900px;
  margin-top: 5%;
  margin-left: 20%;
}

.view-emp-profile-form {
  min-width: 160px;
  max-width: 500px;
  width: 100%;
  margin-left: 25%;
}

.view-emp-profile-full-width {
  width: 60%;
}
*/
